.dot{
    stroke: #000;
    opacity: 0.8;
}
body{
    margin: 0;
    padding: 0;
    height:100%;
    text-align: center;
}
.container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
html{
    margin: 0;
    padding: 0;
    height: 100%;
}